.table{
    border-top:1px solid whitesmoke;
    border-bottom:1px solid whitesmoke;
}

.table th{
    text-align: center;
    padding: .5rem 3rem;
    color:#FFF8DC;
    background: rgb(216,191,216);
    font-weight: 700;
}

.elements, .table {
    margin: 2rem auto;
    height: 0rem;
    text-align: center;    
}

.elements h1{
    color: #DA70D6;
    margin-bottom: 1.5rem;
}

.elements input{
    border-radius: 1.2rem;
    border: none;
    width: 20rem;
    height: 1.6rem;
    margin-top: .3rem;
    outline: none;
    padding-left: 1.5rem;
}

.elements .btn{
    margin-top: .7rem;
    width: 10rem;
    height: 2rem;
    border: none;
    border-radius: .7rem;
    background: #EE82EE;
    color: #FFF8DC;
    font: 700 1.3rem 'Indie Flower', cursive;
    cursor: pointer;
}

.elements .btn:hover{
    transition: background 2s ease-in-out;
    background: #DA70D6;
}
