h2 {
    font-size: 1.9rem;
    font-weight: 300;
    color: #DA70D6;
    margin-bottom: 2rem;
}
.textElements {
    margin: 1rem auto;
    height: 0rem;
    text-align: center;    
}

.textElements h1{
    font-size: 3rem;
    font-weight: 510;
    color: #DA70D6;
    margin-bottom: 2rem;
}

.finalElements img{
    height:10rem;
    margin-bottom: 2.5rem;
}

.finalElements h1 a{
    text-decoration: none;
    color: #FFF8DC;
    background:#DDA0DD; 
    border: 2px solid #FFFFF0;
    border-radius: 1.2rem;
    padding: .5rem 1.6rem;
    
}

