* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #F0E68C;
}

#container {
    max-height: 100vh;
    margin: 0 auto;
}

h2 {
    font-size: 1.9rem;
    font-weight: 300;
    color: #DA70D6;
    margin-bottom: 2rem;
}

h1{
    font-size: 3rem;
    font-weight: 510;
    color: #DA70D6;
    margin-bottom: 2rem;
}

.textElements {
    margin: 5rem auto;
    height: 0rem;
    text-align: center;    
}

.finalElements img{
    height:10rem;
    border: 1px;
}
