<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../View/styles/main.css">
    <link rel="stylesheet" href="../View/styles/agenda.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <title>My Agenda</title>
</head>

<body>
    <div id="container">
        <div class="elements">
            <h1>Hello, here you can add new actives in your personal agenda, control every action, mark as done or
                excluding some of them. Try it out! </h1>
                <label for="text">Type something down here:</label>
            <input type="text">
            <div class="btnBox">

                <button class="btn">Include</button>
            </div>
            <table class="table">
                <th class="firstTh">My Actives</th>
                <th class="secondTh">Situaction</th>
                <th class="thirdTh">Action</th>
            </table>
        </div>
    </div>
</body>

</html>